*{
    margin: 0;
    padding: 0;
}

.heading{
    width: 100vw;
    height: 70px;
    background-color: #270d06;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading p{
    color: #f3f0e0;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.heading h1{
    font-size: 35px;
    color: #f3f0e0;
}
.products{
    margin: 50px;
    font-size: 30px;
    color: #270d06;
}
.username{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.username span{
    font-size: 30px;
    font-weight: lighter;
}

.username h1{
    margin-left: 40px;
    color: #270d06;
    font-weight: lighter;
}

.item-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 40px 20px 40px;
}
.item-list .empty h1{
    font-size: 20px;
    max-width: 40px;
    color: #270d06;
}

.item-list .item-box{
    width: 200px;
    height: 330px;
    border: 1px solid #270d06;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
}

.item-list .item-box .item-image-box{
    width: 180px;
    height: 180px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.item-list .item-box .item-image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.item-list .item-box h3{
    font-size: 15px;
    margin: 10px;
    color: #270d06;
}
.item-list .item-box p{
    font-size: 17px;
    color: #270d06;
    margin: 0 0 0 10px;
    letter-spacing: 2px;
}

.user-detail{
    margin: 10px 0 10px 40px;
    transform: translateY(-100%);
    display: none;
    transition: all 3s ease;
}

.animation .user-detail{
    display: block;
    transform: translateY(0);
    transition: all 3s ease;
}